<div class="container mt-4">
    <h4 class="mb-3">Fichas de pacientes</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle shadow-sm rounded-3 overflow-hidden">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos y Nombres</th>
                    <th>Email</th>
                    <th>DNI</th>
                    <th>Obra Social</th>
                    <th>N° Socio</th>
                    <th>Autorizada</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ficha of fichas">
                    <td data-label="Nombre">{{ ficha.userId?.nombre }}</td>
                    <td data-label="Apellidos y Nombres" class="text-start">{{ ficha.nombreCompleto }}</td>
                    <td data-label="Email">{{ ficha.userId?.email }}</td>
                    <td data-label="DNI">{{ ficha.dni }}</td>
                    <td data-label="Obra Social">{{ ficha.obraSocial }}</td>
                    <td data-label="N° Socio">{{ ficha.numeroSocio }}</td>
                    <td data-label="Autorizada">
                        <span class="badge rounded-pill" [ngClass]="{
              'bg-success': ficha.autorizada,
              'bg-danger': !ficha.autorizada
            }">
                            {{ ficha.autorizada ? 'Sí' : 'No' }}
                        </span>
                    </td>
                    <td data-label="Acción">
                        <div class="d-flex justify-content-center gap-2">
                            <button *ngIf="!ficha.autorizada" (click)="autorizar(ficha._id)"
                                class="btn btn-success btn-sm px-3">
                                Autorizar
                            </button>

                            <button *ngIf="ficha.autorizada" (click)="desautorizar(ficha._id)"
                                class="btn btn-warning btn-sm px-3">
                                Desautorizar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>